

body
{
	font-family: 'Open Sans', sans-serif !important;
	color:#333;
}

strong {
	font-weight: 600;
}

/* Stream Packets */

.packets {
  position:absolute;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: lime;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  border:none;
  box-shadow: none;
  opacity: 0.2;
  width:33.333%;
  height:100%;
  word-wrap: break-word;
  font-family: Courier New;
  font-size: 10px;
}

#stream-one {
	visibility: hidden;
	display: block;
	left:0;
}
#cascade-one {
	
}

#stream-two {
	visibility: hidden;
	left:33.333% !important;
	color:orange;
}
#cascade-two {
	left:33.333% !important;
	color:orange;
}


#stream-three {
	visibility: hidden;
	left:66.666% !important;
	color: red;
}
#cascade-three {
	left:66.666% !important;
	color: red;
}





/* /Stream Packets */

.banner {
	position: relative;
}

.backface {
	z-index:0;

	/*width:100%;*/
	/*height:100%;*/
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	 background: rgb(69,72,77); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0NTQ4NGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}



.banner .hero {
  position: relative;
  text-align: center;
  color: #fff;
  min-height: 700px;
  background:transparent;
  opacity: 1;
 
}

img.protestors { margin: 50px 0px; max-width: 100%; height: auto; }

/*text content on banner*/
.hero
{
	margin:0 auto;
	text-align:center;
	z-index:10;
	width:100%;
	top:100px;
}

.hero h1
{
	font-size:60px;
	color:#fff;
	font-weight:900;
	margin:0px;
	text-shadow:1px 2px 2px rgba(0,0,0,.6);
}

.hero p
{
	font-size:28px;
	color:#fff;
	font-weight: normal;
	margin:0px;
	text-shadow:1px 2px 2px rgba(0,0,0,.6);
}

.learn-more {
	width:228px;
}

.hero-btn {
	font-size: 170%;
}

/*----- main section ----*/
#main {
	z-index:999;
}

.main-container
{
	padding-top:80px;
	padding-bottom:40px;
}

.main-container img
{
	max-width:100%;
}

	.main-styles h1
	{
		font-size:30px;
		color:#000;
		font-weight: bold;
	}
	
	.main-styles .txt
	{
		margin-top:35px;
		font-size:18px;
		line-height:30px;
		color:#333333;
		font-weight:300;
	}

p.lead {
	font-size:24px;
	line-height:36px;
	color:#333333;
	font-weight:300;
}

ul.linklist {
	padding-bottom:50px;
}

ul.linklist li {
	list-style: none;
	margin-left: -20px;
	margin-bottom:10px;
	text-align: center;
	font-weight: normal;
	font-size: 18px
}

ul.linklist li a {
	font-size:28px;

	font-weight: bold;
	display: block;
	line-height: 38px;
}


/*----- Footer section ----*/

.xdivider
{
	margin:40px 0px;
}

.footer
{
	padding:30px 0;
	background:#f4f5f6;
}


.social-icons
{
	font-size:20px;
	padding:15px 0;

}

	.social-icons ul
	{
		padding:0px;
		margin:0px;
		list-style:none;
	}
	
	.social-icons li
	{
		display:inline-block;
		margin:0 10px;

		
		
	}

	.social-icons li:last-child
	{
		margin:0px 0px;
	}
	
	.social-icons a
	{
		color:#b2b2b3;
		text-decoration:none;


	}

	.social-icons a:hover
	{
		color:#f87c45;
	}


@media (min-width: 320px) and (max-width:767px) {
/* Logo & Nav*/


.hero
{
	/*
	margin:0 auto;
	text-align:center;
	z-index:10;
	width:100%;
	top: 50%;
	padding-top:50%;
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	*/


}

.hero h1
{
	font-size:32px;
	line-height:30px;
	color:#fff;
	font-weight:900;
	margin:0px;
	text-shadow:1px 2px 2px rgba(0,0,0,.6);
}

.hero p
{
	font-size:18px;
	color:#fff;
}


}
