body { font-family: Open Sans, Arial; padding: 0px; margin: 0px; background: none transparent; overflow: hidden; }
#close {
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 9001; /* WHAT, 9000?! There's no way that can be right! Can it? */
	-webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out;
	font-size: 30px;
	color: white;
	background: black;
	border-radius: 30px;
	text-align: center;
	width: 43px;
	cursor: pointer;
	opacity: 0;
}
#modal { position: relative; margin: 15px auto; opacity: 0; width: 700px; height: 360px; background: #fff; border-radius: 7px; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out;          -webkit-transition: box-shadow 5s ease-out; -moz-transition: box-shadow 5s ease-out; -o-transition: box-shadow 5s ease-out; transition: box-shadow 5s ease-out;  }
#modal.visible { opacity: 1; }
#modal.shadow { box-shadow: 0px 5px 20px rgba(0, 0, 0, .6); }

#cta, #thanks {
	display: none;
	text-align: center;
	position: absolute;
	left: 25px;
	top: 10px;
	width: 650px;
	height: 330px;
	font-size: 16px;
	line-height: 23px;
	color: #666;
    background: #fff;
}
#cta a { color: #51a351; font-weight: bold; }
#cta a:hover { color: #52a452; }
#cta h3, #thanks h3 {
	font-size: 25px;
	line-height: 31px;
	padding: 0px;
	margin: 20px 0px 30px 0px;
	color: black; 
	font-weight: normal;
}
#thanks h3 a { color: #52a452; font-weight: bold; }
#cta input[type="text"] {
	background: -moz-linear-gradient(center top , #F0F0F0 0px, #FFF) repeat scroll 0% 0% transparent;
	background: -webkit-linear-gradient(center top , #F0F0F0 0px, #FFF) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(center top , #F0F0F0 0px, #FFF) repeat scroll 0% 0% transparent;
	background: -ms-linear-gradient(center top , #F0F0F0 0px, #FFF) repeat scroll 0% 0% transparent;
	background: linear-gradient(center top , #F0F0F0 0px, #FFF) repeat scroll 0% 0% transparent;
	border-radius: 4px;
	border: 1px solid #949494;
	box-shadow: 0px 2px 3px rgba(255, 255, 255, 0), 0px 1px 5px #ADADAD inset;
	font-size: 16px;
	padding: 5px 20px;
	margin-bottom: 0px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px #FFF;
	-webkit-transition: all .1s linear; -moz-transition: all .1s linear; -o-transition: all .1s linear; transition: all .1s linear;
}
#cta input[type="text"].error {
	border-color: #c88;
	box-shadow: 0px 2px 3px rgba(255, 128, 128, 0), 0px 1px 5px #AD7777 inset;
	background: #fff3f3;
}

#cta small.left { position: absolute; bottom: 0px; left: 0px; display: block; font-size: 13px; }
#cta small.right { position: absolute; bottom: 0px; right: 0px; display: block; font-size: 13px; }
#cta .quad_pane .pane { display: inline-block; float: left; width: 25%; }
#cta .quad_pane .pane .pad { padding: 5px; }

button {
	display: inline-block;
	padding: 4px 30px;
	margin-top: 5px;
	text-align: center;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: #BBB #BBB #A2A2A2;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 4px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #5BB75B;
	background-image: linear-gradient(to bottom, #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	font-size: 20px;
	height: 50px;
}
button:hover {
	background: #51A351;
}
button.disabled {
	cursor: default;
	background: #ccc;
}
.socials {
    display: block;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 40px 0 0 0;
}
.socials li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.socials li a {
    margin: 0;
}
[class^="social-"], [class*=" social-"], .navbar .nav>li>[class^="social-"], .navbar .nav>li>[class*=" social-"] {
    padding: 9px 15px 9px;
    text-indent: -99999px;
    min-width: 36px;
    min-height: 36px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    font-weight: normal;
    display: inline-block;
    position: relative;
    font-weight: normal;
    background: #000;
    text-shadow: 0;
    -webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -ms-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}
[class^="social-"]:hover, [class*=" social-"]:hover, .navbar .nav>li>[class^="social-"]:hover, .navbar .nav>li>[class*=" social-"]:hover {
    opacity: .66;
    text-shadow: none;
    text-decoration: none;
}
[class^="social-"]::before, [class*=" social-"]::before {
    width: 20px;
    height: 20px;
    display: block;
    background: url(https://s3.amazonaws.com/fftf-cms/static/campaign/img/share.png) no-repeat 0 0;
    background-size: 170px 20px;
    position: absolute;
    top: 8px;
    left: 8px;
    content: ''}
.social-facebook {
    background-color: #314880!important;
}
.social-facebook::before {
    background-position: -150px 0;
}
.social-twitter {
    background-color: #3f9ce1!important;
}
.social-twitter::before {
    background-position: -100px 0;
}
[class^="social-"].social-large, [class*=" social-"].social-large, .navbar .nav>li>[class^="social-"].social-large, .navbar .nav>li>[class*=" social-"].social-large {
    background-image: none;
    margin-right: 10px;
    height: 36px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 2px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 21px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 6px;
    text-indent: 9px;
}
[class^="social-"].social-large:hover, [class*=" social-"].social-large:hover, .navbar .nav>li>[class^="social-"].social-large:hover, .navbar .nav>li>[class*=" social-"].social-large:hover {
    color: #fff;
    text-shadow: none;
}
.social-facebook.social-large {
    width: 210px;
    background-color: #30497d;
    background: -moz-linear-gradient(top, #4166b0 0, #30497d);
    background: -webkit-gradient(linear, left top, left bottom, from(#4166b0), to(#30497d));
    border: 1px solid #3b5898;
    -moz-box-shadow: 0 0 0 rgba(000, 000, 000, 0), inset 0 1px 1px rgba(125, 156, 216, 1);
    -webkit-box-shadow: 0 0 0 rgba(000, 000, 000, 0), inset 0 1px 1px rgba(125, 156, 216, 1);
    box-shadow: 0 0 0 rgba(000, 000, 000, 0), inset 0 1px 1px rgba(125, 156, 216, 1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0), 0px -2px 0 rgba(5, 5, 5, 0.4);
}
.social-twitter.social-large {
    width: 195px;
    background-color: #00cefc;
    background: -moz-linear-gradient(top, #00cefc 0, #0898cc);
    background: -webkit-gradient(linear, left top, left bottom, from(#00cefc), to(#0898cc));
    border: 1px solid #0898cc;
    -moz-box-shadow: 0 0 0 rgba(000, 000, 000, 0), inset 0 1px 1px rgba(166, 233, 255, 1);
    -webkit-box-shadow: 0 0 0 rgba(000, 000, 000, 0), inset 0 1px 1px rgba(166, 233, 255, 1);
    box-shadow: 0 0 0 rgba(000, 000, 000, 0), inset 0 1px 1px rgba(166, 233, 255, 1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0), 0px -1px 0 rgba(5, 5, 5, 0.4);
}